<p class="Newusers-title">WELCOME USER</p>
<section class="newuser">
<%= form_with url: users_path do |form| %>
    <div class="Form-section">
        <p class="FormInput-label">First name :</p>
          <%= form.text_field :first_name,
                placeholder: "Firstname",
                      class: "form-data",
                      autofocus: "autofocus"
          %>
    </div>
    <div class="Form-section">
        <p class="FormInput-label">Last name :</p>
          <%= form.text_field :last_name,
               placeholder: "Lastname",
                     class: "form-data"
      %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Email ID :</p>
          <%= form.email_field :email,
                placeholder: "Email Id",
                      class: "form-data"
          %>
    </div>
     <div class="Form-section">
      <p class="FormInput-label">Password :</p>
          <%= form.password_field :password,
                     placeholder: "Password",
                           class: "form-data"
          %>
    </div>
      <div class="Form-section">
      <%= form.submit "Sign-up", class: "form-submit"%>
    </div>
<% end %>
</section>
